@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

*{
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p{
  font-family: 'Abel', sans-serif;
}

h1{
  font-family: 'Abel', sans-serif;
}

h2{
  font-family: 'Abel', sans-serif;
}

h3{
  font-family: 'Abel', sans-serif;
}

span{ font-family: 'Abel', sans-serif;}




* {
  margin: 0;
  padding: 0;
}

.nav-fixed{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.scrollbtn{right:2%;
  bottom: 5%;
position: fixed;
z-index: 10;}

video{
  width: 45%;
}

@media screen and (max-width: 764px){
  video{
    width: 75%;
    margin-top: 3%;
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 960px) {
  .scrollbtn{right: 1%;
    bottom: 1%;
  position: fixed;
  z-index: 10;}
}

  .contactfooter-home{
    display: none;
  }

  @media screen and (max-width: 520px){
    .scrollbtn{right:3%;
      bottom: 1.25%;
    position: fixed;
    z-index: 10;}
  }

  @media screen and (min-width: 768px) and (max-width: 1280px){
    video{
      width: 45%;
      margin-top: 3%;
      margin-bottom: 3%;
    }
  }