@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}
.hr1{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.hr1{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}

.contact-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

.contact-text{
    width: 70%;
    font-size: 1.35rem;
    margin-top: 3%;
    margin-right: 10%;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
}

.contact-container2{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    
}

@media screen and (max-width: 768px) {
    .contact-container{
        display: flex;
        flex-direction:column;
        margin: auto;
    }

    .contact-text{
        width: 90%;
        font-size: 0.9rem;
        text-align: justify;
        text-justify: inter-word;
        
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .contact-container{
        display: flex;
        flex-direction:column;
        margin: auto;
    }
    .contact-text{
        width: 90%;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto;
        text-align: center;
        
    }
}