.particulier-container{
 justify-content: space-around;
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
padding-left: 3%;
padding-right: 3%;
padding-bottom: 3%;
margin-top: 3%;
background-image: url("france.png");
background-repeat: no-repeat;
background-size:80%;
background-position: center;
}

.location-img{
    width: 22.5%;
}

.particulier-card{
    align-items: center;
    text-align: center;
    background-color: rgb(246, 247, 251);
    width: 30%;
    padding: 3%;
    box-shadow:-2px 5px 10px rgb(0 0 0 / 15%);
    margin-bottom: 3%;
}

.particulier-card:hover{
    background-color: rgb(238, 238, 238);
    box-shadow:-2px 10px 15px rgb(0 0 0 / 15%);
    cursor: pointer;
}


.text-center{
    text-align: center;
    margin-top: 1.5%;
    font-size: 1.5rem;
    line-height: 1.8;
    animation-duration: 2.5s; 
}

.particulier-text{
    font-size: 1.1rem;

}

.pos-desc-text{
    padding-left: 9%;
}


@media screen and (max-width: 766px){
    .particulier-container{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-left: 3%;
        padding-right: 3%;
        margin-top: 5%;
        background-image: url("france.png");
        background-repeat: no-repeat;
        background-size:cover;
        background-position: center;
       }

       .particulier-card{
        display: flex;
        text-align: center;
        margin: auto;
        background-color: rgb(246, 247, 251);
        width: 80%;
        padding: 5%;
        box-shadow:-2px 5px 10px rgb(0 0 0 / 15%);
        margin-bottom: 6%;

    }

    .particulier-text{
        font-size: 0.8rem;
        font-weight: bold;
    }

    .text-center{
        text-align: center;
        margin-top: 3%;
        font-size: 15px;;
        line-height: 1.8;

    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .particulier-card{
        text-align: center;
        margin: auto;
        background-color: rgb(246, 247, 251);
        width:45%;
        padding: 5%;
        box-shadow:-2px 5px 10px rgb(0 0 0 / 15%);
        margin-bottom: 4%;
    } 

    .particulier-container{
        margin-top: 2%;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 3%;
       }
}