@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


.HomeVideo-container{
    background-image: url("car-video-image.jpg");
    background-size  : cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    font-family: 'Abel', sans-serif;

}

.homevideo-text{
    color: white;
    width: 45%;
    font-size: 1rem;
    text-align: justify;
    text-justify: inter-word;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2%;
}

.homevideo-title{
    color:rgb(243, 243, 243) ;
    font-size: 2.2rem;
    margin-bottom: 3%;
}



@media screen and (max-width: 620px){
    .HomeVideo-container{
        background-image: url("car-video-image-phone.jpg");
        background-size  : cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3%;
        flex-wrap: wrap;
        padding-bottom: 8%;
    }
    .homevideo-text{
        width: 90%;
        text-align: justify;
        text-justify: inter-word;
        padding: 5.5%
    }
    .homevideo-title{
        color:rgb(243, 243, 243) ;
        font-size: 1.4rem;
        margin-top: 3%;
        text-align: center;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px){
    .homevideo-title{
        font-size: 1.2rem;
    }
    .homevideo-text{
        font-size:  1rem;
        width: 80%;
        text-align: center;
    }
    .HomeVideo-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 2%;
        padding-bottom: 7%;   
    }

}

